
.custom-success-dropdown .dropdown-toggle {
  background-color: #198754; 
  color: #fff;
  border-radius: 5px; 
}

.custom-success-dropdown .dropdown-menu {
  background-color: #198754; 
  border: none; 
}

.custom-success-dropdown .dropdown-item {
  color: #fff; 
}

.custom-success-dropdown .dropdown-item:hover {
  background-color: #155724; 
  color: #fff; 
}

.custom-success-dropdown .dropdown-divider {
  border-color: rgba(255, 255, 255, 0.2); 
}
